*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}

/* links */
a {
    text-decoration: none;
    color: inherit;
	float: right;
}

/* navigation bar */
nav {
    height: 100px;
    background: #282c30;
    display: block;
    justify-content: space-between;
    align-items: center;
		padding-top: 10px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
    color: white; 
    font-weight: 900;
}	
	
.default-heading {	
		display: inline-block;
		padding-top: 20px;
		padding-bottom: 0px;
		padding-left: 20px;
		padding-right: 20px;
}

/* change the color of links on hover */	
.nav-items-right a:hover {
  background-color: none;
  color: #0096FF;
}

/*fix the size of the logo*/
.logo {
        max-width: 110px;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-left: 20px;
			padding-right: 20px;
		
}

body {
	background-color: hsl(30, 38%, 92%);
	font-family: system-ui;
  }

 /*____________________________________________________________________________________________________________________ header^^*/
 
 .search-container {
	padding-top: 50px;
	padding-right: 40%;
	padding-bottom: 50px;
	padding-left: 80px;
  }

 .search-container a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;

  }

  .search-container {
	float: left;
	margin: left 10px;;
  }
  
 .input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
  }
  
 .search-container button {
	float: right;
	padding: 6px;
	margin-top: 8px;
	margin-right: 16px;
	background: #3271BC;
	font-size: 17px;
	border: none;
	cursor: pointer;
  }
  
  .search-container button:hover {
	background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
	.search-container {
	  float: none;
	}
	.a, .input[type=text], .search-container button {
	  float: none;
	  display: block;
	  text-align: left;
	  width: 100%;
	  margin: 0;
	  padding: 14px;
	}
	.input[type=text] {
	  border: 1px solid #ccc;  
	}
  }

 /*____________________________________________________________________________________________________________________ search bar^^*/
 
 .filter-search-divide {
	padding: 10%
  }


 .column {
	float: left;
	padding: 30px;
  }
  
  .left {
	width: 25%;
  }
  
  .right {
	width: 75%;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }